{% extends 'main.html' %}

{% block title %}
    <title>Study</title>
{% endblock %}

{% block content %}
<style>
    h3{color: darkred;}
</style>
    <h1>Study</h1>
    <hr>
    <h2>[1학기 멋사 활동 회고]</h2>
    <h3>Keep</h3>
    <p>
        1. 매주 멋사 활동에 열심히 참여함. 
        <br>
        2. 매주 과제를 빠지지 않고 제출하려고 노력함.
        <br>
        3. 아이디어톤 같은 팀 단위 활동에서 팀에 도움이 되고자 열심히 참여함.
    </p>
    <br>
    <h3>Problem</h3>
    <p>
        1. 과제를 할 때 강의자료에 많이 의존하여 강의자료 없이 과제를 수행하기 힘듦.
        <br>
        2. 오류가 나면 어떻게 대처를 해야하는지 검색하여 해결하는 것이 아직 쉽지 않음.
    </p>
    <br>
    <h3>Try</h3>
    <p>
        1. 동아리 수업 시간 내에 강의자료를 한 번에 이해하는 것이 힘들다고 판단됨. 따라서 활동 이후 자료를 n회독하여 과제를 하기 위해 자료를 따라가는 것이 아니라 어떤 과정으로 코드가 진행되는지 이해해야 할 것으로 생각됨.
        <br>
        2. 처음보다는 혼자서 오류를 해결하는 횟수와 정도가 많아졌지만 중간 확인 없이 과제를 수행하다보면 어디서 오류가 났는지 찾기 힘들기 때문에 더 많은 서치와 공부가 필요할 것으로 생각됨. 특히 Python, Django 부분에 취약함.
    </p>
{% endblock %}